RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

RewriteCond %{HTTP_HOST} ^instroview.in [NC]
RewriteRule ^(.*)$ http://www.instroview.in/$1 [L,R=301]

