/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}
    .after-loop {
        padding: 3rem 0 5rem;
    }

    .after-loop .index-about{
        padding:30px 30px 10px 30px;
        text-align: justify;
    }
    .after-loop .index-about .about-button {
        padding: 30px 10px 20px 30px;
        margin:10px 15px 10px 10px;

    }
        .after-loop .index-about .about-button div {
            padding-left:30px;
            text-align:center;

        }


    .after-loop a.after-loop-item {
        color: #fff;
        position: relative;
        padding-top: 0.9rem;
        padding-bottom: 1.0rem;
        transition: 0.15s box-shadow ease, 0.15s transform ease;
        -moz-transition: 0.15s box-shadow ease, 0.15s transform ease
    }

        .after-loop a.after-loop-item .card-body i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 4rem;
            left: 1rem;
            color: rgba(255,255,255,0.2);
            transition: 0.15s all ease
        }

        .after-loop a.after-loop-item .card-body h4 {
            font-weight: 700
        }

        .after-loop a.after-loop-item .card-body p {
            color: rgba(255,255,255,0.7);
            font-weight: 600
        }

        .after-loop a.after-loop-item:hover {
            text-decoration: none
        }

    .after-loop .card-themes {
        background-color: #dd3d31
    }

    .after-loop .card-templates {
        background-color: #2092ed
    }

    .after-loop .card-snippets {
        background-color: #e01e04
    }

    .after-loop .card-guides {
        background-color: #28a745
    }

@media (min-width: 992px) {
    .after-loop a.after-loop-item:hover {
        transform: translateY(-0.25rem);
        box-shadow: 0 2.25rem 1.5rem -1.5rem rgba(33,37,41,0.3),0 0 1.5rem 0.5rem rgba(33,37,41,0.05) !important
    }

        .after-loop a.after-loop-item:hover .card-body i {
            left: 1.5rem;
            font-size: 3rem
        }

    .after-loop a.after-loop-item:active {
        transform: none;
        box-shadow: 0 2rem 1.5rem -1.5rem rgba(33,37,41,0.15),0 0 1.5rem 0.5rem rgba(33,37,41,0.05) !important
    }
}
.feature-list .col-md-4 {
    margin-bottom: 22px
}

.feature-list h4 .fa:before {
    vertical-align: -10%;
    font-size: 28px;
    display: inline-block;
    width: 1.07142857em;
    text-align: center;
    margin-right: 5px
}

.footer-desc{
    color:white;
    width:50%;
    padding:10px 10px 10px 20px;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}


.main-heading-service{
    border: 2px solid white;
    border-radius: 8px;
    min-width: 25%;
    padding: 25px 10px 10px 5px;
}

.main-heading-service li a{
    color:white;
    padding-right: 10px;
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about-us .content {
    padding: 30px 0;
}

    .about-us .content h2 {
        font-weight: 700;
        font-size: 34px;
        color:black;
    }

    .about-us .content p {
        font-family: Calibri;
        margin-bottom: 0;
        color: white;
        padding-bottom:10px;
        text-align:justify;
        padding-left:10px;
    }

    .about-us .content .icon-box {
        margin-top: 25px;
        
    }

        .about-us .content .icon-box h4 {
            font-size: 20px;
            font-weight: 700;
            margin: 5px 0 10px 60px;
            color: black;
            border-bottom: 2px solid orangered;
        }

        .about-us .content .icon-box i {
            font-size: 48px;
            float: left;
            color: #f03c02;
        }

        .about-us .content .icon-box p {
            font-size: 15px;
            color: white;
            margin-left: 60px;
            text-align: justify;
        }

@media (max-width: 991px) {
    .about-us .image {
        text-align: center;
    }

        .about-us .image img {
            max-width: 80%;
        }
}

@media (max-width: 667px) {
    .about-us .image img {
        max-width: 100%;
    }
}

.about_page {
    background-color: lightblue;
}

    .about_page h4 {
        color: darkblue;
        margin-top: 0px;
    }

    .about_page p {
        color: black;
        text-align: justify;
        padding-top: 5px;
        padding-bottom: 2px;
    }

    .about_page .info {
        background: #fff;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 1);
        padding: 30px;
    }

    .about_page .service_point {
        color: darkblue;
        font-size: 14px;
        padding-right: 50px;
        font-weight: bold;
    }

    .about_page .about_division {
        min-height: 50px;
        text-align: center;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
        margin: 10px;
        padding-top: 9px;
    }

.about-list {
    background-color: #f8f9fa !important;
    padding:15px 20px 7px 15px;
}

.about-list h2{
    font-weight:400;
    color:black;
}

/*--------------------------------------------------------------
# service
--------------------------------------------------------------*/
/******* google font ****/
@import url('https://fonts.googleapis.com/css?family=Poppins|Ubuntu&display=swap');

.bg-service{
  padding-top: 50px;
  min-height: 250px;
  background-color: #f8f9fa !important;
}
.services
{
    display: block;
    position: relative;
    padding: 10px 15px 80px 10px;
    background-color:#f8c471 ;

}
.container
{
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.services-title
{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.services-box
{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -15px;
}

.services .title
{
    margin-left: 15px;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom:40px;
    text-align: center;
    top: 26px;

}
.services-title h2 span
{
    color: #3c44a9;
}
.services-title h2
{
    margin-top: -10px;
    margin-bottom: 6px;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    color: #333;
    font-family:'Ubuntu',sans-serif;
}

.box
{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 33.333333%;
}
.ser-box
{
    margin-top: 75px;
    padding-bottom: 30px;
    padding: 0 60px;
    min-height: 198px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    transition: all .4s ease-in-out;
    box-shadow: 0 0 25px 0 rgba(20,27,202,.17);
}

.ser-box .icon
{
    margin-bottom: 0;
    transform: translateY(-50%);
    text-align: center;
}

.ser-box .icon img{
    width: 60px;
    height: 60px;
}


.ser-box h4
{
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    color: #3c44a9;
    margin-top: -10px;
    font-family: 'Ubuntu',sans-serif;
}
.ser-box p
{
    color:black;
    line-height: 24px;
    margin-top: 20px;
    font-family:'Ubuntu',sans-serif;
}
.ser-box:hover
{
    box-shadow: 0 0 25px 0 rgba(20,27,201,.05);
    cursor: pointer;
    background-image: 
    linear-gradient(-45deg, #fb0054 0%, #f55b2a 100%);
}

.ser-box:hover h4,
.ser-box:hover p
{
    color: #fff;
}



.services-box .box:nth-child(1) .ser-box:hover
{
    background-image: 
    linear-gradient(-45deg, #34b5bf 0%, #210c59 100%);
}



.services-box .box:nth-child(3) .ser-box:hover
{
    background-image: 
    linear-gradient(-45deg, #3615e7 0%, #44a2f6 100%);
}

.services-box .box:nth-child(4) .ser-box:hover
{
    background-image: 
    linear-gradient(-45deg, #fc6a0e 0%, #fdb642 100%);
}


.services-box .box:nth-child(5) .ser-box:hover
{
    background-image: 
    linear-gradient(-45deg, #8d40fb 0%, #5a57fb 100%);
}



.services-box .box:nth-child(6) .ser-box:hover
{
    background-image: 
    linear-gradient(-45deg, #27b88d 0%, #22dd73 100%);
}



/********-Responsive-************/

@media(min-width: 768px)
{
    .box
    {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}





@media(min-width: 600px)
{
    .box
    {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}






@media(min-width: 992px)
{
    .box
    {
        flex: 0 0 33.333333% !important;
        max-width: 33.333333% !important;
    }
}



@media(min-width: 414px)
{
    .box
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


@media(min-width: 370px)
{
    .box
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


@media(min-width: 320px)
{
    .box
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


/*--------------------------------------------------------------
# Project
----------------------------------------------------*/
.project{
    background-color: #f2f3f4 ;
    padding: 40px 40px 10px 20px;
}
.project h1{
    text-align: center;
    font-weight: 900;
    font-size: 35px;
    padding-bottom: 30px;
}

.project h1:hover{
    text-decoration: 5px underline solid #c8260c ;
}
    .project .list {
        width: 30%;
        padding: 20px 15px 10px 0px;
        margin-left: 40px;
        margin-bottom:20px;
        border-color: brown;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
        min-height: 200px;
        background-color: ghostwhite;
        border-radius: 5px;
    }
    .project .list h3{
        text-align:center;
        font-weight:600;
        padding-bottom:20px;
    }


    .project .list-box {

    }

.project .list ul li {
    list-style:none;
    position: relative;
    padding-right:20px;
}


/*--------------------------------------------------------------
# Index page Project
----------------------------------------------------*/

.index-project{
    padding-top:20px;
    padding-bottom: 50px;
}

.index-project .index-project-title{
    text-align: center;
}

.row.related-pages-wrap {
    margin-right:0;
    margin-left:0;
}

.related-pages-wrap.green,.related-pages-wrap.blue {
    background:transparent!important;
}

.related-pages-block {
    overflow:hidden;
    position:relative;
    padding:0 0 50px;
    border-left:1px solid transparent;
    border-right:1px solid transparent;
    padding-bottom:60px!important;

}

.related-pages-block > .block-inner {
    position:absolute;
    overflow:hidden;
    bottom:0;
    left:0;
    right:0;
    top:33%;
}

.related-pages-block > .block-inner > div {
    padding:15px;
    bottom:0;
    left:0;
    right:0;
    position:absolute;
    -webkit-transition:top ease .5s;
    transition:top ease .3s;
    top:50%;
}

.related-pages-block > .block-inner > div.blue {
    top:72%;
}

.related-pages-block > .block-inner:hover > div,.related-pages-block > .block-inner.hovered > div {
    top:0;
}

.related-pages-block .large-text * {
    font-size:20px;
}

.new_related-block {
    overflow:hidden;
    padding:0;
    border-right:1px solid #FFF;
    border-left:1px solid #FFF;
}

.new_related-block-link {
    position:relative;
    width:100%;
    height:auto;
    overflow:hidden;
    display:block;
    min-height:300px;
}

.new_related-block-link .blue {
}

.new_related-block-content {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding:15px;
    -webkit-transition:top ease .3s 0;
    transition:top ease .3s 0;
}

.new_related-block-content.green {
    top:60%;
    background:#59b224!important;
}


.new_related-block-content.white{
    top:50%;
}

.blue > .new_related-block-content {
    top:75%;
    background:#229FD4;
}

.new_related-block-link:hover .new_related-block-content,.new_related-block-link.hovered .new_related-block-content {
    top:0;
}

.new_related-img {
    width:100%;
    height:auto;
}

.container-related-pages-hidden.content-hidden .new_related-img {
    padding-bottom:221px;
}

.container-related-pages .squared {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.entry-15721 .container-related-pages-hidden.content-hidden .new_related-img {
    padding-bottom:0px;
}

.container-related-pages-hidden .new_related-block-content{
    height: calc(100% + 2px);
    transition: all ease .5s;
}
.container-related-pages-hidden a:hover .new_related-block-content{
    overflow-x: hidden;
    overflow-y: auto;
}

.content-hidden .new_related-block-content {
    min-height:221px;
}

.new_related-block-content h2.block-title {
    text-transform:uppercase;
    color:#114675;
    margin:0;
    font-size:14px;
    line-height:22px;
}

.btn-secondary.btn-lblue {
    background-color:#229FD4!important;
}

.new_related-block-content,.new_related-block-content p {
    color:#FFF;
}

.new_related-block-content.white,.new_related-block-content.white h3,.new_related-block-content.grey,.new_related-block-content.grey h3,.new_related-block-content.gray,.new_related-block-content.gray h3,.new_related-block-content.white,.new_related-block-content.white p,.new_related-block-content.grey,.new_related-block-content.grey p,.new_related-block-content.gray p {
    color:#114675!important;
}

.new_related-block-content .new_related-block-text {
    margin:10px 0 0;
    opacity:0;
    height:100px;
    -webkit-transition:all ease .4s 0;
    transition:all ease .4s 0;
}

.new_related-block-link:hover .new_related-block-text,.new_related-block-link.hovered .new_related-block-text {
    opacity:1;
    height:auto;
}

.new_related-block-content h3.block-body.large-text {
    font-family:"myriad-pro",PTSansCaptionRegular,arial,helvetica,sans-serif;
    line-height:24px;
    font-size:20px;
    color:#FFF;
    margin:0;
    text-transform:none;
    font-weight:400;
}

.new_related-block-content h2.block-body.large-text {
    font-weight:700;
    font-size:20px;
    color:#FFF;
    margin:0;
    font-size:22px;
    text-transform:uppercase;
}

.new_related-block-content ul {
    margin:0;
    padding-left:15px;
    padding-bottom:15px;
}

/*Shadow */
.new_related-block-content.overlay-shadow:after {
    position:absolute;
    width:100%;
    height:100px;
    bottom:-100px;
    left:0;
    right:0;
    content:"";
    -webkit-box-shadow:0 0 0 0 #59b224;
    box-shadow:0 0 0 0 #59b224;
    -webkit-transition:-webkit-box-shadow ease .3s 0;
    transition:box-shadow ease .3s 0;
}

.new_related-block-link:hover.new_related-block-content.green.overlay-shadow:after,.new_related-block-link.hovered .new_related-block-content.green.overlay-shadow:after {
    -webkit-box-shadow:0 -30px 20px 10px #59b224;
    box-shadow:0 -30px 20px 10px #59b224;
}

.new_shadow-links {
    position:absolute;
    width:100%;
    left:0;
    right:0;
    bottom:-100%;
    background:#229FD4;
    -webkit-box-shadow:0 -30px 20px 10px #229FD4;
    box-shadow:0 -30px 20px 10px #229FD4;
    -webkit-transition:bottom ease .3s 0;
    transition:bottom ease .3s 0;
}

.new_related-block-link:hover .new_shadow-links,.new_related-block-link.hovered .new_shadow-links {
    bottom:0;
}

.new_shadow-links > li {
    list-style:none;
}

.new_shadow-links > li > a {
    color:#FFF!important;
    font-size:16px;
    line-height:24px;
}

.new_shadow-links > li > span:before {
    font-size:9px;
}

.new_shadow-links > li > span {
    margin-right:10px;
}
