/*--------------------------------------------------------------
# Index page Project
----------------------------------------------------*/
/*Section- 2*/
.after-loop {
        padding: 3rem 0 5rem;
    }

    .after-loop .index-about{
        padding:30px 30px 10px 30px;
        text-align: justify;
    }
    .after-loop .index-about .about-button {
        padding: 30px 10px 20px 30px;
        margin:10px 15px 10px 10px;

    }
        .after-loop .index-about .about-button div {
            padding-left:30px;
            text-align:center;

        }


    .after-loop a.after-loop-item {
        color: #fff;
        position: relative;
        padding-top: 0.9rem;
        padding-bottom: 1.0rem;
        transition: 0.15s box-shadow ease, 0.15s transform ease;
        -moz-transition: 0.15s box-shadow ease, 0.15s transform ease
    }

        .after-loop a.after-loop-item .card-body i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 4rem;
            left: 1rem;
            color: rgba(255,255,255,0.2);
            transition: 0.15s all ease
        }

        .after-loop a.after-loop-item .card-body h4 {
            font-weight: 700
        }

        .after-loop a.after-loop-item .card-body p {
            color: rgba(255,255,255,0.7);
            font-weight: 600
        }

        .after-loop a.after-loop-item:hover {
            text-decoration: none
        }

    .after-loop .card-themes {
        background-color: #dd3d31
    }

    .after-loop .card-templates {
        background-color: #2092ed
    }

    .after-loop .card-snippets {
        background-color: #e01e04
    }

    .after-loop .card-guides {
        background-color: #28a745
    }

@media (min-width: 992px) {
    .after-loop a.after-loop-item:hover {
        transform: translateY(-0.25rem);
        box-shadow: 0 2.25rem 1.5rem -1.5rem rgba(33,37,41,0.3),0 0 1.5rem 0.5rem rgba(33,37,41,0.05) !important
    }

        .after-loop a.after-loop-item:hover .card-body i {
            left: 1.5rem;
            font-size: 3rem
        }

    .after-loop a.after-loop-item:active {
        transform: none;
        box-shadow: 0 2rem 1.5rem -1.5rem rgba(33,37,41,0.15),0 0 1.5rem 0.5rem rgba(33,37,41,0.05) !important
    }
}
/*Section- 3*/
.package{
    margin-top: 80px;
    margin-bottom: 80px;
}
.package img{
    height: 200px;
}
.package .subtile{
    font-size: 16px;
    color: rgb(236, 5, 5);

}
/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about-us{
    margin-top: 110px;
}

.about-us .content {
    padding: 30px 0;
}

    .about-us .content h2 {
        font-weight: 700;
        font-size: 34px;
        color:white;
    }

    .about-us .content p {
        font-family: Calibri;
        margin-bottom: 0;
        color: white;
        padding-bottom:10px;
        text-align:justify;
        padding-left:10px;
    }

    .about-us .content .icon-box {
        margin-top: 25px;
        
    }

        .about-us .content .icon-box h4 {
            font-size: 20px;
            font-weight: 700;
            margin: 5px 0 10px 60px;
            color: white;
            border-bottom: 2px solid orangered;
        }

        .about-us .content .icon-box i {
            font-size: 48px;
            float: left;
            color: #f03c02;
        }

        .about-us .content .icon-box p {
            font-size: 15px;
            color: white;
            margin-left: 60px;
            text-align: justify;
        }

@media (max-width: 991px) {
    .about-us .image {
        text-align: center;
    }

        .about-us .image img {
            max-width: 80%;
        }
}

@media (max-width: 667px) {
    .about-us .image img {
        max-width: 100%;
    }
}

.about_page {
    background-color: lightblue;
}

    .about_page h4 {
        color: darkblue;
        margin-top: 0px;
    }

    .about_page p {
        color: black;
        text-align: justify;
        padding-top: 5px;
        padding-bottom: 2px;
    }

    .about_page .info {
        background: #fff;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 1);
        padding: 30px;
    }

    .about_page .service_point {
        color: darkblue;
        font-size: 14px;
        padding-right: 50px;
        font-weight: bold;
    }

    .about_page .about_division {
        min-height: 50px;
        text-align: center;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
        margin: 10px;
        padding-top: 9px;
    }

.about-list {
    background-color: #f8f9fa !important;
    padding:15px 20px 7px 15px;
}

.about-list h2{
    font-weight:400;
    color:black;
}


/*--------------------------------------------------------------
# service
--------------------------------------------------------------*/
/******* google font ****/
@import url('https://fonts.googleapis.com/css?family=Poppins|Ubuntu&display=swap');

.service{
    margin-top: 65px;

}

.bg-service{
  padding-top: 50px;
  min-height: 250px;
  background-color: #f8f9fa !important;
}
.services
{
    display: block;
    position: relative;
    padding: 10px 15px 80px 10px;
    background-color:#f8c471 ;
}
.container
{
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.services-title
{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.services-box
{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -15px;
}

.services .title
{
    margin-left: 15px;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom:40px;
    text-align: center;
    top: 26px;

}
.services-title h2 span
{
    color: #3c44a9;
}
.services-title h2
{
    margin-top: -10px;
    margin-bottom: 6px;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    color: #333;
    font-family:'Ubuntu',sans-serif;
}

.box
{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 33.333333%;
}
.ser-box
{
    margin-top: 75px;
    padding-bottom: 30px;
    padding: 0 60px;
    min-height: 198px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    transition: all .4s ease-in-out;
    box-shadow: 0 0 25px 0 rgba(20,27,202,.17);
}

.ser-box .icon
{
    margin-bottom: 0;
    transform: translateY(-50%);
    text-align: center;
}

.ser-box .icon img{
    width: 60px;
    height: 60px;
}


.ser-box h4
{
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    color: #3c44a9;
    margin-top: -10px;
    font-family: 'Ubuntu',sans-serif;
}
.ser-box p
{
    color:black;
    line-height: 24px;
    margin-top: 20px;
    font-family:'Ubuntu',sans-serif;
}
.ser-box:hover
{
    box-shadow: 0 0 25px 0 rgba(20,27,201,.05);
    cursor: pointer;
    background-image: 
    linear-gradient(-45deg, #fb0054 0%, #f55b2a 100%);
}

.ser-box:hover h4,
.ser-box:hover p
{
    color: #fff;
}



.services-box .box:nth-child(1) .ser-box:hover
{
    background-image: 
    linear-gradient(-45deg, #34b5bf 0%, #210c59 100%);
}



.services-box .box:nth-child(3) .ser-box:hover
{
    background-image: 
    linear-gradient(-45deg, #3615e7 0%, #44a2f6 100%);
}

.services-box .box:nth-child(4) .ser-box:hover
{
    background-image: 
    linear-gradient(-45deg, #fc6a0e 0%, #fdb642 100%);
}


.services-box .box:nth-child(5) .ser-box:hover
{
    background-image: 
    linear-gradient(-45deg, #8d40fb 0%, #5a57fb 100%);
}



.services-box .box:nth-child(6) .ser-box:hover
{
    background-image: 
    linear-gradient(-45deg, #27b88d 0%, #22dd73 100%);
}



/********-Responsive-************/

@media(min-width: 768px)
{
    .box
    {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}





@media(min-width: 600px)
{
    .box
    {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}






@media(min-width: 992px)
{
    .box
    {
        flex: 0 0 33.333333% !important;
        max-width: 33.333333% !important;
    }
}



@media(min-width: 414px)
{
    .box
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


@media(min-width: 370px)
{
    .box
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


@media(min-width: 320px)
{
    .box
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


/*--------------------------------------------------------------
# Project
----------------------------------------------------*/
.project{
    background-color: #f2f3f4 ;
    padding: 40px 40px 10px 20px;
}
.project h1{
    text-align: center;
    font-weight: 900;
    font-size: 35px;
    padding-bottom: 30px;
}

.project h1:hover{
    text-decoration: 5px underline solid #c8260c ;
}
    .project .list {
        width: 30%;
        padding: 20px 15px 10px 0px;
        margin-left: 40px;
        margin-bottom:20px;
        border-color: brown;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
        min-height: 200px;
        background-color: ghostwhite;
        border-radius: 5px;
    }
    .project .list h3{
        text-align:center;
        font-weight:600;
        padding-bottom:20px;
    }

.project .list ul li {
    list-style:none;
    position: relative;
    padding-right:20px;
}


/*--------------------------------------------------------------
# CCTV
----------------------------------------------------*/
.bs-docs-header{
    position:relative;padding:30px 15px;
    color:#cdbfe3;text-align:center;
    text-shadow:0 1px 0 rgba(0,0,0,.1);
    background-color:#6f5499;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));
    background-image:-webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image:-o-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image:linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c',endColorstr='#6F5499',GradientType=0);
    background-repeat:repeat-x
    }
.bs-docs-masthead .bs-docs-booticon{
    margin:0 auto 30px
    }
.bs-docs-masthead h1{
    font-weight:300;
    line-height:1;
    color:#fff
    }
.bs-docs-masthead .lead{
    margin:0 auto 30px;
    font-size:20px;
    color:#fff
    }
.bs-docs-masthead .version{
margin-top:-15px;
margin-bottom:30px;
color:#9783b9
}.bs-docs-masthead .btn{
width:100%;
padding:15px 30px;
font-size:20px
}
@media (min-width:480px){
.bs-docs-masthead .btn{width:auto}}
@media (min-width:768px){
.bs-docs-masthead{padding:80px 0}
.bs-docs-masthead h1{font-size:60px}
.bs-docs-masthead .lead{font-size:24px}
}@media (min-width:992px){
.bs-docs-masthead .lead{width:80%;font-size:30px}}
.bs-docs-header{margin-bottom:40px;font-size:20px}
.bs-docs-header h1{margin-top:0;color:#fff}
.bs-docs-header p{
margin-bottom:0;
font-weight:300;
line-height:1.4}
.bs-docs-header .container{
position:relative}
@media (min-width:768px){
.bs-docs-header{
padding-top:60px;
padding-bottom:60px;
font-size:24px;
text-align:left}
.bs-docs-header h1{
font-size:60px;
line-height:1}}
@media (min-width:992px){
.bs-docs-header h1,
.bs-docs-header p{
margin-right:400px}}
.bs-scketch{
width:auto!important;
height:auto!important;
margin:30px -30px -31px!important;
overflow:hidden;font-size:13px!important;
line-height:16px!important;text-align:left;
background:transparent!important
}
.bs-scketch > img{height:auto;width:100%}
@media (min-width:480px){
.bs-scketch{
width:400px!important;
margin:20px auto!important;
border-width:1px!important;
border-radius:4px
}
.bs-docs-masthead .bs-scketch{
margin:50px auto 0!important}
}
@media (min-width:768px){
.bs-scketch{
margin-right:0!important;
margin-left:0!important
}
}
@media (min-width:992px){
.bs-scketch{
position:absolute;
top:-10px;right:15px;
width:400px!important;
margin:0!important
}
.bs-docs-masthead .bs-scketch{position:static}}
@media (min-width:1200px){.bs-scketch{top:-20px}}
.bs-docs-featurette{padding-top:40px;padding-bottom:40px;
font-size:16px;
line-height:1.5;
color:#555;text-align:center;
background-color:#fff;
border-bottom:1px solid #e5e5e5}




header .item {
  height: 100vh;
  position: relative;
}
header .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .item .cover {
  padding: 75px 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
}
header .item .cover .header-content {
  position: relative;
  padding: 56px;
  overflow: hidden;
}
header .item .cover .header-content .line {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border: 9px solid #fff;
  -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
}
header .item .cover .header-content h2 {
  font-weight: 300;
  font-size: 35px;
  color: #fff;
}
header .item .cover .header-content h1 {
  font-size: 56px;
  font-weight: 600;
  margin: 5px 0 20px;
  word-spacing: 3px;
  color: #fff;
}
header .item .cover .header-content h4 {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  color: #fff;
}
header .owl-item.active h1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}
header .owl-item.active h2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}
header .owl-item.active h4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.3s;
}
header .owl-item.active .line {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
  animation-delay: 0.3s;
}
header .owl-nav .owl-prev {
  position: absolute;
  left: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}
header .owl-nav .owl-prev span {
  font-size: 1.6875rem;
  color: #fff;
}
header .owl-nav .owl-prev:focus {
  outline: 0;
}
header .owl-nav .owl-prev:hover {
  background: #000 !important;
}
header .owl-nav .owl-next {
  position: absolute;
  right: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}
header .owl-nav .owl-next span {
  font-size: 1.6875rem;
  color: #fff;
}
header .owl-nav .owl-next:focus {
  outline: 0;
}
header .owl-nav .owl-next:hover {
  background: #000 !important;
}
header:hover .owl-prev {
  left: 0px;
  opacity: 1;
}
header:hover .owl-next {
  right: 0px;
  opacity: 1;
}